<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Example connection to a SQL Server Database on localhost. -->
    <!-- <add name="ExampleConnectionString"
            connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
            providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <appSettings>
    <add key="ImagePath" value="C:\Users\samlh\Pics\realish;C:\Users\samlh\Pics\drawnish;C:\Users\samlh\Pics\abstractish" />
    <add key="ImageChangeDelay" value="60" />
    <add key="ImageMaxScaleFactor" value="2.6" />
    <add key="ImageSkipScaleFactor" value="3.1" />
    <add key="ImageMaxFractionOffscreen" value=".26" />
  </appSettings>
</configuration>
